.searchContenedor {
    display: flex;
    justify-content: center;
}

.searchCaja {
    position: relative;
}

.searchInput {
    font-size: 1rem;
    height: 20px;
    padding: 5px 30px 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.searchBoton {
    color: #000;
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
    border: none;
    background: transparent;
}

.searchInput:focus {
    box-shadow: 0px 2px 6px #0cf158;;
}